.military-body{
	padding: 120px 0;
}
.military-hero{
	display: flex;
    justify-content: space-between;
    align-items: center;
}

h2{
	margin: 20px 0
}
.military-location{
	padding: 50px 0;
	background: #07a889;
	box-sizing: border-box;
	color: #fff;
}
.military-location h2, .military-location h4{
	color: #fff
}
body img{
	border-radius: 20px;
	box-shadow: 0 30px 55px -20px rgba(0, 0, 0, 0.3);
	transition: ease-in-out 0.2s;
}
body img:hover{
	box-shadow: 0 0px 6px 0px rgba(0, 0, 0, 0.3);
}
.list-map{
	display: flex;
}
.military-stats{
	margin: 50px 0;
}

.military-stats img{
	box-shadow: none;
	width: 100%;
}
.military-stats img:hover{
	box-shadow: none;
}
.stats-icon{
		box-shadow: 0 30px 45px -05px rgba(0, 0, 0, 0.3);
		margin-right: 20px; 
}
.icon-heading{
	display: flex;
	justify-content: center;
	align-items: center;
}

.military-location h2 {
	color:black;
}

.military-location{
	color:black;
	background-color: #D8F9E4;
	padding: 150px 0;
}

.military-hero .img-hero{
	box-shadow: none;
	height: 100vh;
	width: 100%;
}
.military-hero .img-hero:hover{
	box-shadow: none;
}


.military-hero{

	margin-top: 50px;
	margin-bottom: 0px; 
}
.military-maps{
	margin: 100px 0;
}

.military-cell-phone{
	background: #fafafa;
}

.qualification-list {
	margin-top: 3vh;
}


.military-Link {
	margin-left: 22.5vh;
	
}

.estimate_div , 
.img-fluid,
.military-location
{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	padding: 2%;
	cursor: pointer;
}

.military-location:hover{
	box-shadow: 0 0px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.intro_div h2{
	margin-top: -10px;
}


code {
	background-color: #D8F9E4;
	font-weight: semi-bold;
	color: red;
	font-size: 1.0em;

}

@media screen and (min-width:1000px){

	.img-hero{
		height: 100vh;
	}
	
}

@media screen and (max-width:800px){

	.img-hero{
		height: 80vh;
	}
	
}



@media only screen and (max-width: 600px){
	 
	.military-hero{
		text-align: center;
		flex-direction: column-reverse;
		/* margin: 20px; */
	}
	.military-hero img{
		width: 80%;
		margin: auto;
	}
	section{
		overflow: hidden;
	}
	.img-center{
		text-align: center;
		margin-top: 30px
	}
	.military-location{
		padding: 30px 0;
	}
	.military-cell-phone>div{
		flex-direction: column !important;
		padding: 30px 0;
	}
	.military-stats img{ width: 100%; }
	.military-maps>div{
				flex-direction: column-reverse !important;
		padding: 30px 0;
	}
	.icon-heading{
		flex-direction: column;
	}
	.zero-padding{padding: 0 !important;}
	.margin-20{margin: 0px;}
	.list-map{
		flex-direction: column;
	}
}